
/*
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
*/

div { 
  text-align: center; 
}

.App{
  margin:15px;
}

body {
 font-family: 'Lora', serif;
 font-weight: 300;
 background-color: white;
}

img {
  border-radius: 20%;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Lora', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 1em;
}

a {
  color: black;
}


.carimages {
  height: 300px;
  width: 300px;
}

a:hover {
  text-decoration: none;
  color: #222f3e;
}

.galleryDiv {
    margin-top: 80px;
}

.buttons {
  margin: 0;
  padding: 0;
}

.logo {
  display:grid;
  height: 50px;
  width: 50px;
  grid-column-start: 1;
  margin: 0 20px 0 0;
}


/*search bar begins*/
.wrap{
  width: 30%;
  position: relative;
  transform: translate(-50%, -50%);
  margin:100px;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
/*search bar ends*/

/*sign in page css #edf2f9*/
.signin-container {
  align-self: center;
  align-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 5px, 5px;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
}

.form-inputs{
  background-color: rgba(1, 163, 164,0.4);
  margin: 50px 50px 50px 50px;
  padding: 20px;
  font-family: 'EB Garamond', serif;
  box-shadow: 1px 1px 1px #675454;
  border: none;
}

input:focus {
  outline: none;
}

.form-inputs input {
  background-color: rgba(255,255,255,0.8);
  border: none;
}

.logo-signup {
  text-align: center;
}

.logo-signup img {
  max-width: 100px;
  margin: 20px;
}

.signin-error{
  font-size: 10px;
}
/*end for sign in */

.btn {
  font-weight: bold;
}

.navbar a {
  font-weight: bold;
  color: #4a8abf;
  margin: 0 10px 0 10px;
  text-align: right;
}

.navbar {
  margin: 0 10px;
}

.navbar .dropdown {
  text-align: left;
  display: inherit;
}

.authlinks {
  text-align: right;
}

.btn-primary {
  background-color: white;
  color: #4a8abf;
  border-color: #4a8abf;
}
