@import "alice-carousel.css";

* {
box-sizing: border-box;
margin: 0;
padding: 0;
border: 1px solid blue;
}

div { text-align: center; }


.carimages {
height: 200px;
width: 200px;
}

.grid{
 display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.logo {
height:100px;
width:100px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

/*search bar begins*/
.wrap{
  width: 30%;
  position: relative;
  transform: translate(-50%, -50%);
  margin:100px;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
/*search bar ends*/