
/*
* {
box-sizing: border-box;
margin: 0;
padding: 0;
border: 1px solid blue;
}*/

div { 
  text-align: center; 
}

.App{
  margin:15px;
}

body {
 font-family: 'Lora', serif;
 font-weight: 300;
 background-color: white;
}

/*dropbar begins*/
.dropbtn {
  background-color: white;
  color: #4a8abf;;
  padding: 5px 16px;

  font-size: 16px;
  border: 1px solid #4a8abf;;
  cursor: pointer;
  border-radius: 5%;
  margin-left: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/*dropbar ends*/

img {
  border-radius: 20%;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Lora', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 1em;
}

a {
  color: black;
}


.carimages {
  height: 300px;
  width: 300px;
}

a:hover {
  text-decoration: none;
  color: #222f3e;
}

.galleryDiv {
    margin-top: 80px;
}

.buttons {
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'EB Garamond', serif;
}

h2, h3, h4, h5, h6  {
 font-family: 'Lora', sans-serif;
 font-weight: 900;
 color: black;
 font-size: 1em;
}

.logo {
  display:grid;
  height: 50px;
  width: 50px;
  grid-column-start: 1;
  margin: 0 20px 0 0;
}



/*sign up page css #edf2f9*/
.signin-container {
  align-self: center;
  align-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 5px, 5px;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
}

.form-inputs{
  background-color: rgba(1, 163, 164,0.4);
  margin: 50px 50px 50px 50px;
  padding: 20px;
  font-family: 'EB Garamond', serif;
  box-shadow: 1px 1px 1px #675454;
  border: none;
}

input:focus {
  outline: none;
}

.form-inputs input {
  background-color: rgba(255,255,255,0.8);
  border: none;
}

.logo-signup {
  text-align: center;
}

.logo-signup img {
  max-width: 100px;
  margin: 20px;
}

.signin-error{
  font-size: 10px;
}

/* end of sign up page*/

.btn {
  font-weight: bold;
}

.navbar a {
  font-weight: bold;
  color: #4a8abf;
  margin: 0 10px 0 10px;
  text-align: right;
}

.navbar {
  margin: 0 10px;
}

.navbar .dropdown {
  text-align: left;
  display: inherit;
}

.authlinks {
  text-align: right;
}

.btn-primary {
  background-color: white;
  color: #4a8abf;
  border-color: #4a8abf;
}
